* {
    font-family: Arial, Helvetica, sans-serif;
}

.links>ul, li {
    display: flex;
    flex-direction: row; 
    list-style-type: none;
    justify-content: center;
    padding: 0 30px 0 30px;
    font-size: 20px;
}
li>a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: purple;
    text-decoration: underline;
} 
h1:first-of-type {
    color: rgb(49, 49, 243);
    font-size: 50px;
    line-height: 5px;
}
section:first-of-type {
    background-image: url("woman\ cleaning.jpg");
    background-size: contain;
    min-width: 1340px;
    min-height: 400px;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0 0 20px;
    
}
.products > div, img {
    width: 410px;
    height: 350px;
    border: 1px solid gray;
}
.price_quantity>div:nth-child(2) {
    float: right;
    margin-top: -100px;
}
img+h3 {
    text-align: center;
}
