* {
    font-family: Arial, Helvetica, sans-serif;
}
.links>ul, li {
    display: flex;
    flex-direction: row; 
    list-style-type: none;
    justify-content: center;
    padding: 0 30px 0 30px;
    font-size: 20px;
}
li>a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(228, 19, 228);
    text-decoration: underline;
} 
section:first-of-type {
    background-image: url("woman\ cleaning.jpg");
    background-size: cover;
    min-width: 1340px;
    min-height: 600px;
}
h1:first-of-type {
    color: rgb(49, 49, 243);
    font-size: 50px;
    padding: 100px 0 0 50px;
    line-height: 5px;
}
h4:first-of-type {
    width: 500px;
    margin: 300px 0 0 50px;
    font-weight: normal;
    
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0 0 20px;
    
}
.products > div, img {
    width: 410px;
    height: 350px;
    border: 1px solid gray;
}
.price_quantity>div:nth-child(2) {
    float: right;
    margin-top: -100px;
}
img+h3 {
    text-align: center;
}
.products>.product {
    margin-top: 200px;
}
.footer {
    height: 500px;
    margin: 200px 0 0 0;
}
footer>.first_part {
    height: 200px;
    background-color: rgb(228, 19, 228);
}
footer>.second_part {
    height: 300px;
    background-color: white;
}
 .first_part>.social_handles {
    text-align: center;
    padding: 25px 0 0 0;
}
.first_part>.social_media {
    display: flex;
    align-items: center;
}
.social_media>img {
    height: 40px;
    width: 40px;
}
/* footer>.copyrights {
    margin: 110px 15px 0 0;
    float: right; 
    
} */
.social_handles>p {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 5px;
}
.links, li > a {
    color: black;
    text-decoration: none;
}